<%-include("../layouts/admin/header.ejs")-%>
	    
			<div class="report-container"> 
			<div class="title-container">
				<div class="table-title">
          Categories
        </div> 
				<div class="btn_add_categories">
					<button class="btn btn-dark category"><a href="/admin/add_category" class="category-add">+Category</a></button>
				</div>
  	</div>				
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th class="col-2" scope="col">Category name</th>
						<th class="col-2" scope="col">Image</th>
						<th class="col-3" scope="col">Description</th>
						<th class="col-1" scope="col">Discount</th>
						<th class="col-2" scope="col">View</th>
						<th class="col-2" scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<%category.forEach((categ)=>{%>
						<tr> 
									<td><%=categ.name%></td>
									<td><img src="/images/userImages/<%=categ.image%>" width="140px" alt="<%=categ.image%>"></td>
									<td><%=categ.description%></td>
									<td><%=categ.discount%></td>
									<td>
										<%if(categ.is_listed===false){%>
										<button type="button" class="btn btn-success btn-sm ms-2 " onclick="listCategory('<%=categ._id%>')">List</button>
									  <%}else{%>
										<button type="button" class="btn btn-danger btn-sm ms-2 " onclick="unListCategory('<%=categ._id%>')">Unlist</button>
									  <%}%>
									</td>
									<td>
										<div class="categ-edit">
											<button type="button" class="btn btn-success btn-sm"> <a href="/admin/edit_category?id=<%=categ._id%>" class=" categ-edit ">Edit</a></button>
											<button type="button" class="btn btn-danger btn-sm ms-2 "><a href="/admin/delete_category?id=<%=categ._id%>" class=" categ-edit ">Delete</a> </button>
										</div>
									</td>				
						</tr>
						<%})%>
				</tbody>
		</table>	
		<div class="pagination-div" id="paginationDiv">
			<% let startPage = Math.max(1, Math.min(currentPage - 1, totalPages - 3)) %>
			<% let endPage = Math.min(totalPages, startPage + 3); %>
			<% for (let i = startPage; i <= endPage; i++) { %>
				<div class="page-no-div" data-page="<%= i %>">
					<a href="?page=<%= i %>" class="anchor order-pagination"><%= i %></a>
				</div>
			<% } %>
		</div>			
	</div> 

	<%-include("../layouts/admin/footer.ejs")-%>