<%-include("../layouts/admin/header.ejs")-%>
			<div class="report-container"> 
			<div class="title-container">
				<div class="table-title">
          Coupons
        </div> 
				<div class="btn_add_categories">
					<a href="/admin/add_coupon" class="category-add"><button class="btn btn-dark category">+Coupon</button></a>
				</div>
				</div>
      	   	
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th class="col-2" scope="col">Coupon code</th>
							<th class="col-1" scope="col">Discount%</th>
              <th class="col-2" scope="col">Start Date</th>
							<th class="col-2" scope="col">Expiry Date</th>
							<th class="col-2" scope="col">Min Order</th>
							<th class="col-2" scope="col">Max Discount</th>
							<th class="col-1" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
					<%if(locals.data){%>
					<%data.forEach((each)=>{%>
						<tr> 
									<td><%=each.couponCode%></td>
									<td><%=each.discountPercentage%></td>
					        <td><%=each.startDate.toLocaleString()%></td>
                  <td><%=each.expiryDate.toLocaleString()%></td>
									<td><%=each.minimumPurchase%></td>
                  <td><%=each.maximumDiscount%></td>
									<td>
										<div class="d-flex">
											<div class="categ-edit">
												<a href="/admin/edit_coupon?id=<%=each._id%>"><button type="button" class="btn btn-success btn-sm ">Edit</button></a>
											</div>
											<div class="categ-edit">
												<button type="button" class="btn btn-danger btn-sm ms-3 " onclick="deleteCoupon('<%=each._id%>')">Delete</button>
											</div>
										</div>
									</td>			
						</tr>
						<%})%>
						<%}else{%>
							<tr>
								<td colspan="6">
										<div class="address-msg">
												<%= msg %>
										</div>
								</td>
						</tr>
							<%}%>
					</tbody>
			</table>
			<div class="pagination-div" id="paginationDiv">
				<% let startPage = Math.max(1, Math.min(currentPage - 1, totalPages - 3)) %>
				<% let endPage = Math.min(totalPages, startPage + 3); %>
				<% for (let i = startPage; i <= endPage; i++) { %>
					<a href="?page=<%= i %>" class="anchor order-pagination">
						<div class="page-no-div" data-page="<%= i %>">
						 <%= i %>
						</div>
					</a>
				<% } %>
			</div>
	 </div> 
	<%-include("../layouts/admin/footer.ejs")-%>