<%-include("../layouts/admin/header.ejs")-%>


			<div class="report-container"> 
			<div class="title-container">
				<div class="table-title">
          Products
        </div> 
				<div class="btn_add_categories">
					<a href="/admin/add_Products" class="category-add"><button class="btn btn-dark category">+Product</button></a>
				</div>
				</div>
      	   	
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th class="col-2" scope="col">Product Name</th>
							<th class="col-1" scope="col">Image</th>
							<th class="col-1" scope="col">Category</th>
							<th class="col-2" scope="col">Description</th>
							<th class="col-1" scope="col">Quantity</th>
							<th class="col-1" scope="col">Price</th>
							<th class="col-1" scope="col">Discount</th>
							<th class="col-1" scope="col">View</th>
							<th class="col-2" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
					<%if(locals.product){%>
					<%product.forEach((prod)=>{%>
						<tr> 
									<td><%=prod.name%></td>
									<td><img src="/images/userImages/<%=prod.image%>" width="120px" alt="<%=prod.image%>"></td>
									<td><%=prod.category.name%></td>
									<td><%=prod.description%></td>
									<td><%=prod.quantity%></td>
									<td><%=prod.price%></td>
									<td><%=prod.discount%></td>
									<td>
											<%if(prod.is_listed===false){%>
							        <button type="button" class="btn btn-success btn-sm" onclick="listProduct('<%=prod.id%>')">List</button>
											<%}else{%>
											<button type="button" class="btn btn-danger btn-sm" onclick="unListProduct('<%=prod.id%>')">UnList</button>
										  <%}%>
									</td>
									<td>
										<div class="categ-edit">
											<button type="button" class="btn btn-success btn-sm"> <a href="/admin/edit_products?id=<%=prod._id%>" class=" categ-edit ">Edit</a></button>
											<button type="button" class="btn btn-danger btn-sm ms-2 " onclick="deleteProduct('<%=prod._id%>')">Delete</button>
										</div>
									</td>			
						</tr>
						<%})%>
						<%}else{%>
							<tr>
								<td colspan="6">
										<div class="address-msg">
												<%= msg %>
										</div>
								</td>
						</tr>
							<%}%>
					</tbody>
			</table>
			<div class="pagination-div" id="paginationDiv">
				<% let startPage = Math.max(1, Math.min(currentPage - 1, totalPages - 3)) %>
				<% let endPage = Math.min(totalPages, startPage + 3); %>
				<% for (let i = startPage; i <= endPage; i++) { %>
					<a href="?page=<%= i %>" class="anchor order-pagination">
						<div class="page-no-div" data-page="<%= i %>">
						 <%= i %>
						</div>
					</a>
				<% } %>
			</div>
	 </div> 


	<%-include("../layouts/admin/footer.ejs")-%>