<%-include("../layouts/admin/header.ejs")-%>
	
			<div class="report-container"> 
        <div class="title-container">
          <div class="table-title">
            Users List
          </div>
        </div>
				
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th class="col-3" scope="col">Name</th>
              <th class="col-3" scope="col">Email</th>
              <th class="col-2" scope="col">Mobile.no</th>
              <th class="col-2" scope="col">Verified</th>
              <th class="col-2" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <%if(locals.userDetails){%>
            <%userDetails.forEach((user)=>{%>
            <tr>
              <td><%=user.name%></td>
              <td><%=user.email%></td>
              <td><%=user.mobile_no%></td>
              <td><%if(user.is_verified===1){%>
                Yes
                <%}else{%>
                  No
                <%}%>
              </td>
              <%if(user.is_blocked==0){%>
              <td><button type="button" class="btn-sm btn-green blockButton" onclick="userBlock('<%=user._id%>')">Block</button></td> 
              <%}else{%>
                <td><button type="button" class="btn-sm btn-red blockButton" onclick="userUnblock('<%=user._id%>')">UnBlock</button></td>       
                <%}%>
            </tr>
            <%})%>
            <%}else{%>
							<tr>
								<td colspan="6">
										<div class="address-msg">
												<%= msg %>
										</div>
								</td>
						</tr>
							<%}%>
          </tbody>
        </table>
          <div class="pagination-div" id="paginationDiv">
            <% let startPage = Math.max(1, Math.min(currentPage - 1, totalPages - 3)) %>
            <% let endPage = Math.min(totalPages, startPage + 3); %>
            <% for (let i = startPage; i <= endPage; i++) { %>
              <a href="?page=<%= i %>" class="anchor order-pagination">
              <div class="page-no-div" data-page="<%= i %>">
               <%= i %>
              </div>
            </a>
            <% } %>
          </div>
			</div> 

	<%-include("../layouts/admin/footer.ejs")-%>
