<%-include("../layouts/admin/header.ejs")-%>
	
			<div class="report-container"> 
        <div class="title-container">
          <div class="table-title">
            Users List
          </div>
        </div>
				
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th class="col-3" scope="col">Id</th>
              <th class="col-2" scope="col">Name</th>
              <th class="col-3" scope="col">Email</th>
              <th class="col-2" scope="col">Mobile.no</th>
              <th class="col-2" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <%userDetails.forEach((user)=>{%>
            <tr>
              <td><%=user._id%></td>
              <td><%=user.name%></td>
              <td><%=user.email%></td>
              <td><%=user.mobile_no%></td>
              <%if(user.is_blocked==0){%>
              <td><button type="button" class="btn-sm btn-green blockButton"><a href="/admin/block?id=<%=user._id%>" class="blockanchor">Block</a></button></td> 
              <%}else{%>
                <td><button type="button" class="btn-sm btn-red blockButton"><a href="/admin/block?id=<%=user._id%>" class="blockanchor">UnBlock</a></button></td> 
          
                <%}%>

            </tr>
            <%})%>
          </tbody>
        </table>
			</div> 

	<%-include("../layouts/admin/footer.ejs")-%>