<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox">
  <div class="navbar-outer container">
    <div class="navbar-user">
      <a href="/profile"><div class="nav-options" ><i class="fa fa-user-circle mx-3" aria-hidden="true"></i>Profile</div></a>
      <a href="/address"><div class="nav-options" ><i class="fa fa-address-card-o mx-3" aria-hidden="true"></i>My Address</div></a>
      <a href="/order"><div class="nav-options" ><i class="fa fa-cart-plus mx-3" aria-hidden="true"></i>My Orders</div></a>
      <a href="/change_password"><div class="nav-options" ><i class="fa fa-lock mx-3" aria-hidden="true"></i>Change Password</div></a>
      <div class="nav-options" onclick="confirmLogout()" ><i class="fa fa-sign-out mx-3" aria-hidden="true"></i>Logout</div>
    </div>
     <div class="col-lg-8 profile-box">
          <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">My Orders</h4>
                      </div>
                      <div class="container address-box">
                        <%if(locals.orderData){%>         
                            <table class="table table-hover table-responsive">
                              <thead>
                                <tr>
                                  <th class="col-3" scope="col">Order Date</th>
                                  <th class="col-3" scope="col">Order Status</th>
                                  <th class="col-3" scope="col">Payment Type</th>
                                  <th class="col-3" scope="col">Order Detail</th>
                                </tr>
                              </thead>
                              <tbody>
                                <%if(orderData.forEach((data)=>{%> 
                                  <tr> 
                                        <td><%=data.orderDate.toLocaleString()%></td>
                                        <td><%=data.orderStatus%></td>
                                        <td><%=data.paymentType%></td>
                                        <td>
                                          <div class="categ-edit ml-3">
                                            <a href="/order_detail?id=<%=data._id%>" class=" categ-edit "><button type="button" class="btn profile-button btn-sm">View</button></a>
                                          </div>
                                        </td>                       			
                                  </tr>
                                  <%}))%>
                              </tbody>
                          </table>	
                          <%}else if(locals.msg){%>
                            <div class="address-msg">
                              <%=msg%>
                            </div>
                          <%}%>
                          </div>                        
                      </div>
                      </div>                                                         
                   </div>
              </div>
          </div>
      </div>
</div>
<%-include("../layouts/user/footer.ejs")-%>