<%-include("../layouts/user/header.ejs")-%>

     <div class="col-lg-8 profile-box">
          <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">My Orders</h4>
                      </div>
                      <div class="container address-box">
                        <%if(locals.orderData){%>         
                            <table class="table table-hover table-responsive text-center">
                              <thead>
                                <tr>
                                  <th class="col-2" scope="col">Order Date</th>
                                  <th class="col-3" scope="col">Order Status</th>
                                  <th class="col-3" scope="col">Payment Type</th>
                                  <th class="col-3" scope="col">Payment Status</th>
                                  <th class="col-1" scope="col">Details</th>
                                </tr>
                              </thead>
                              <tbody>
                                <%if(orderData.forEach((data)=>{%> 
                                  <tr> 
                                        <td><%=data.orderDate.toLocaleString()%></td>
                                        <td><%=data.orderStatus%></td>
                                        <td><%=data.paymentType%></td>
                                        <td><%=data.paymentStatus%></td>
                                        <td>
                                          <div class="categ-edit ml-3">
                                            <a href="/order_detail?id=<%=data._id%>" class=" categ-edit "><button type="button" class="btn profile-button btn-sm">View</button></a>
                                          </div>
                                        </td>                       			
                                  </tr>
                                  <%}))%>
                              </tbody>
                          </table>	
                          <%}else if(locals.msg){%>
                            <div class="address-msg">
                              <%=msg%>
                            </div>
                          <%}%>
                          </div>                        
                      </div>
                      </div>                                                         
                   </div>
              </div>
          </div>
      </div>
</div>
<%-include("../layouts/user/footer.ejs")-%>