<%-include("../layouts/user/header.ejs")-%>


	<div class="container single_product_container">
		<div class="row">
			<div class="col">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
						<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
					</ul>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-7">
				<div class="single_product_pics">
					<div class="row">
						<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
							<div class="single_product_thumbnails">
								<ul>
									<li><img class="image-square" src="images/userImages/<%=product.subImages[0]%>" alt="" data-image="images/userImages/<%=product.subImages[0]%>"></li>
									<li class="active"><img class="image-square" src="images/userImages/<%=product.subImages[1]%>" alt="" data-image="images/userImages/<%=product.subImages[1]%>"></li>
									<li><img class="image-square" src="images/userImages/<%=product.subImages[2]%>" alt="" data-image="images/userImages/<%=product.subImages[2]%>"></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 image_col order-lg-2 order-1">
							<div class="single_product_image image-hover-zoom">
								<div class="single_product_image_background " style="background-image:url(images/userImages/<%=product.subImages[1]%>)"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="product_details">
					<div class="product_details_title">
						<h2><%=product.name%></h2>
						<p><%=product.description%></p>
					</div>
					<div class="free_delivery d-flex flex-row align-items-center justify-content-center">
						<span class="ti-truck"></span><span>free delivery</span>
					</div>
					<div class="original_price"><span class="rupee"></span></div>
					<div class="product_prices"><span class="rupeereal">₹</span><%=product.price%></div>
					<ul class="star_rating">
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
					</ul>
					<div class="product_color">
						<span>Select Color:</span>
						<ul>
							<li style="background: #e54e5d"></li>
							<li style="background: #252525"></li>
							<li style="background: #60b3f3"></li>
						</ul>
					</div>

					<form  action="/addToCart?id=<%=product._id%>" method="post" >

					<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
						<span>Qty:</span>
						<div class="quantity_selector">
							<button class="btn qty-btn px-3 me-2"
							onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
							<i class="fa fa-minus"></i>
						</button>
             
						<div class="form-outline">
							<input id="prod-form" min="1" name="quantity" value="1" type="number" class="form-control qty-form" />
						</div>

						<button class="btn qty-btn px-3 ms-2"
							onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
							<i class="fa fa-plus"></i>
						</button>
						</div>
						<button type="submit" class="red_buttons add_to_cart_buttons addtocart-btn"  >Add To Cart</button>
						<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
					</div>
				</form>
				</div>
			</div>
		</div>

	</div>


<%-include("../layouts/user/footer.ejs")-%>