<%-include("../layouts/user/header.ejs")-%>

     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Profile Settings</h4>
                      </div>
                      <form action="/edit_profile?id=<%=userData._id%>" method="post" onsubmit="return validateEditProfile()">
                      <div class="row mt-2 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%=userData.name%>">
                            <span id="name-error" class="mt-2 error-msg"></span>
                          </div> 
                          <div class="col-md-6 mt-3">
                            <label class="labels">Mobile No</label>
                            <input type="text" class="form-control" id="mobile-no" name="mobileno" placeholder="Enter phone No" value="<%=userData.mobile_no%>">
                            <span id="mobile-error" class="mt-2 error-msg"></span>
                          </div>     
                      </div> 
                      <div class="mt-5 mb-3 text-center">
                        <button class="btn  profile-button" type="submit">Save</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>

<%-include("../layouts/user/footer.ejs")-%>
