<%-include("../layouts/user/header.ejs")-%>
<div class="containerbox">
  <div class="navbar-outer container">
   
    <div class="navbar-user">
      <a href="/profile"><div class="nav-options" ><i class="fa fa-user-circle mx-3" aria-hidden="true"></i>Profile</div></a>
      <a href="/address"><div class="nav-options" ><i class="fa fa-address-card-o mx-3" aria-hidden="true"></i>My Address</div></a>
      <a href="/order"><div class="nav-options" ><i class="fa fa-cart-plus mx-3" aria-hidden="true"></i>My Orders</div></a>
      <a href="/change_password"><div class="nav-options" ><i class="fa fa-lock mx-3" aria-hidden="true"></i>Change Password</div></a>
      <div class="nav-options" onclick="confirmLogout()" ><i class="fa fa-sign-out mx-3" aria-hidden="true" onclick="confirmLogout()"></i>Logout</div>
    </div>
     <div class="col-lg-8 profile-box">
        <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Profile Settings</h4>
                      </div>
                      <form action="/editProfile?id=<%=userData._id%>" method="post" onsubmit="return validateEditProfile()">
                      <div class="row mt-2 mx-2">
                          <div class="col-md-6 mt-3">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%=userData.name%>">
                            <span id="name-error" class="mt-2 error-msg"></span>
                          </div> 
                          <div class="col-md-6 mt-3">
                            <label class="labels">Mobile No</label>
                            <input type="text" class="form-control" id="mobile-no" name="mobileno" placeholder="Enter phone No" value="<%=userData.mobile_no%>">
                            <span id="mobile-error" class="mt-2 error-msg"></span>
                          </div>     
                      </div>
  
                      <div class="mt-5 mb-3 text-center">
                        <button class="btn  profile-button" type="submit">Save</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  
</div>
</div>

<%-include("../layouts/user/footer.ejs")-%>
