<%-include("../layouts/user/header.ejs")-%>

     <div class="col-lg-8 profile-box">
          <div class=" rounded bg-white mb-5 content">
              <div class="border-right">
                  <div class="p-3">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">My Wallet</h4>
                      </div>
                      <div class="container address-box">
                          <hr>
                         <div  class="wallet-bg d-flex">
                           <div class="wallet" >
                             Wallet Balance
                             <br>
                             <div class="wallet-balance mt-2">Rs.
                              <%if(locals.data){%>
                               <%=data.wallet.walletBalance%>
                              <%}else{%>
                                0
                              <%}%>
                            </div>
                           </div>   
                    </div>
                      <%if(locals.data){%>         
                        <table class="table table-hover table-responsive text-center">
                          <thead>
                            <tr>
                              <th class="col-4" scope="col">Transaction Date</th>
                              <th class="col-3" scope="col">Transaction Type</th>
                              <th class="col-3" scope="col">Amount</th>
                              <th class="col-2" scope="col">Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%if(data.wallet.walletTransaction.forEach((each)=>{%> 
                              <tr> 
                                    <td><%=each.transactionDate.toLocaleString()%></td>
                                    <td><%=each.transactionType%></td>
                                    <td><%=each.transactionAmount%></td>
                                    <td>
                                      <div class="categ-edit ">
                                        <a href="/order_detail?id=<%=each.orderId._id%>" class=" categ-edit "><button type="button" class="btn profile-button btn-sm">View</button></a>
                                      </div>
                                    </td>                       			
                              </tr>
                              <%}))%>
                          </tbody>
                      </table>	
                      <%}else if(locals.msg){%>
                        <div class="address-msg pt-5">
                          <%=msg%>
                        </div>
                      <%}%>
                      </div>                        
                      </div>
                      </div>                                                         
                   </div>
              </div>
          </div>
      </div>
</div>
<%-include("../layouts/user/footer.ejs")-%>