<%-include("../layouts/user/header.ejs")-%>
<%if(locals.data){%>
<div class="containerbox">
  <section class="h-100 gradient-custom">
    <div class="container py-3">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4 cart-div">
            <div class="card-header py-3">
              <h3 class="mb-0">Wishlist</h3>
            </div>
            <div class="card-body">
              <!-- Single item -->
               <%data.wishlist.forEach((prod)=>{%>
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img  src="/images/userImages/<%=prod.productId.image%>"
                      class="w-100" alt="product image" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><h6><%=prod.productId.name%></h6></p>
                  <p>Color: blue</p>
                  <p>Size: M</p>
                  <button type="button" class="btn fs-remove btn-sm me-1 mb-2" onclick="removeWishlist('<%=prod.productId._id%>')" data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fa fa-trash"></i>
                  </button>
                  <a href="/add_to_cart?prodId=<%=prod.productId._id%>"><button type="button" class="btn fs-wishlist btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the cart">
                    +<i class="fa fa-shopping-cart"></i>
                  </button></a>
                  <!-- Data -->
                </div> 
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">             
                  <!-- Price -->
                  <div class="d-flex mt-3">
                   <span>Rs.</span>
                   <div class="cart-price"><%=prod.productId.price%></div>
                  </div>
                  <!-- Price -->
                  <div id="stockStatus"  class="mt-3">
                    <%if(prod.productId.quantity>0){%>
                     In Stock
                    <%}else{%>
                       Out Of Stock
                   <%}%>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
               <%})%>
              <!-- Single item -->
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
               <div class="text-center">
                <a href="/shop"><button class="btn mx-3 profile-button" type="button">Continue Shopping</button></a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%}else{%>
  <div class="empty-box">
    <div class="container-fluid  mt-100 ">
      <div class="row">
       <div class="col-md-12">
        <div class="card1">
         <div class="card-header">
         </div>
          <div class="card-body1 cart">
             <div class="col-sm-12 empty-cart-cls text-center">
               <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/mywishlist-empty_39f7a5.png" width="130" height="130" class="img-fluid mb-4 ">
               <h4><strong>Your Wishlist is Empty</strong></h4>
               <%if(locals.msg){%>
                <h5 class="error-msg"><%=msg%></h5>
                <%}else{%>
               <h5 class="mt-3">You haven't wishlisted anything yet :)</h5>
               <%}%>
               <a href="/shop"><button class="btn profile-button my-3" type="button">Continue Shopping</button></a>
             </div>
         </div>
        </div>    
       </div>
      </div> 
     </div> 
  </div>
  <%}%>
<%-include("../layouts/user/footer.ejs")-%>